{% extends 'base.html.twig' %}

{% block title %}Confirm Email{% endblock %}

{% block body %}
    <div class="col-lg-8 mx-auto">
        <h3 class="mb-4">Confirm Email</h3>
        <h5>
            An email was sent to your mail with a confirmation code, to continue, go to your mail
        </h5>
    </div>
{% endblock %}
