{% extends 'base.html.twig' %}

{% block title %}Page not found{% endblock %}

{% block body %}
    <div class="col-lg-8 mx-auto">
        <h3 class="mb-4">Page not founded</h3>
        <h5>
            The requested page couldn't be located. Checkout for any URL
            misspelling or return to the homepage.
        </h5>
    </div>
{% endblock %}
